html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  position: relative;
  z-index: -1;
}

.card {
  position: absolute;
  left: 20%;
  top: 30%;
  width: 60%;
  height: 35%;
  background: rgba(92, 92, 92, 0.781);
  border-radius: 0.5rem;

  z-index: 99;
  color: aliceblue;

  display: flex;
}

.meigen {
  width: 70%;

  color: aliceblue;
}
.auth {
  width: 70%;

  color: aliceblue;
}
